if filters["onlypaid"]
	input(type="checkbox",id="onlypaid",name="onlypaid",value="onlypaid",checked)
	label 只检索付费用户
else
	input(type="checkbox",id="onlypaid",name="onlypaid",value="onlypaid")
	label 只检索付费用户