if filters["onlyloss"]
	input(type="checkbox",id="onlyloss",name="onlyloss",value="onlyloss",checked)
	label 只检索流失用户
else
	input(type="checkbox",id="onlyloss",name="onlyloss",value="onlyloss")
	label 只检索流失用户